<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc_care">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="PC-CARE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Supplier_View_Records"></activity>
        <activity android:name=".Push_item" />
        <activity android:name=".Pull_item" />
        <activity android:name=".update_delete_item" />
        <activity android:name=".AddItem" />
        <activity android:name=".MotherbordList" />
        <activity android:name=".StockHome" />
        <activity android:name=".Customers_View_Records" />
        <activity android:name=".Income" />
        <activity android:name=".Update_Customer_Det" />
        <activity android:name=".Customer_Add_Details" >
        </activity>
        <activity android:name=".Update_Supplier_Details" >
        </activity>
        <activity android:name=".Supplier_Add_Details" />
        <activity android:name=".Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginOrRestPassword" >

        </activity>
        <activity android:name=".ProgressChart">
        </activity>
        <activity android:name=".AppSplashScreen">
        </activity>
        <activity android:name=".Update_Employee"></activity>
        <activity android:name=".EmployeeList"></activity>
        <activity android:name=".Employee" >
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>